<html dir="rtl">
<head>
<link rel="stylesheet" type="text/css" href="../<? echo $table_folder["styles"];?>IEstyles_blue.css" />
<title>דהÊֿםַÊ ֵ׃בַד הÊ</title>
</head>
<body style="background-color:#EBEBEB;padding-bottom:20px;">
<table width="100%" >
<tr>
<td class="forum">
<center><b>
&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;
<a class="urlheader" href="../islam.php">ַהÊÞַב בבדהÊֿל</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;
<a class="urlheader" href="admiiin.login.php?login=admiin_logout_admiin_logout">־ׁזּ</a>
</td>
</tr>
<tr>
<td class="message">
<center>
<br />
<pre>
<font color="red">
 ָ׃ד ַבבו ַבֽׁדה ַבֽׁםד
ַב׃בַד Úבםßד ז ֽׁדֹ ַבבו ÊÚַבל ז ָׁßַÊו</font>
ֳובַ ז ׃ובַ ז דַָֽׁ ָß Ýם ֵַֿׁÊß ַב־ַױֹ
</center><!---->
<table width="25%"  class="admin">
<tr>
<td class="forum_ad">
<center>&nbsp;&nbsp; בזֹֽ ַבֶׁם׃םֹ
</td>
</tr>
<tr>
<td class="message_ad">
<center>
<pre>

<a class="url_admin" href="#">דÚבזדַÊ ַבדהÊֿל</a>

<a class="url_admin" href="admiiin.index.php?admini=cat&cat=controle">Êֽßד Ýם ַבÝֶַÊ</a>

<a class="url_admin" href="admiiin.index.php?admini=forum&forum=controle">Êֽßד Ýם ַבדהÊֿםַÊ</a>

<a class="url_admin" href="#">ֵÚַַֿֿÊ Úַדֹ</a>

</td>
</tr>
</table>
<!---->
<center><table width="65%" class="admin_texte">
<tr>
<td class="forum_ad">
<center>&nbsp;&nbsp; בזֹֽ ַבֶׁם׃םֹ</center>
</td>
</tr>
<tr>
<td class="message_ad">
<center><pre>
<?@include("ifelse.admiiin.php");?>
</center>
</td>
</tr>
</table><br/><br/><br/><br/><br/><br/></center>
<!---->
<table width="25%"  class="admin">
<tr>
<td class="forum_ad">
<center>&nbsp;&nbsp; בזֹֽ ַבדהÊֿםַÊ
</td>
</tr>
<tr>
<td class="message_ad">
<center>
<pre>

<a class="url_admin" href="admiiin.index.php?admini=visorf">ָׁהַדּ ַבדַׁÞָֹ </a>

<a class="url_admin" href="admiiin.index.php?admini=pub">בזֹֽ ַבֵÚבַהַÊ</a>

<a class="url_admin" href="#">דÚבזדַÊ ַבדהÊֿל</a>

</td>
</tr>
</table>
<!---->


</td>
</tr>
</table>
<br />
<br />

</body>
</html>


